<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../../css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/public.css"/>
    <style>
        .aui-form {
            padding: 0 10px;
        }

        .aui-input-row:first-child:after {
            border-top: none;
        }

        .aui-btn-row:after {
            border-bottom: none;
        }
        input::-webkit-input-placeholder { /* WebKit browsers */
        color: #7b7b7b;
        }
        input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #7b7b7b;
        }
        input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #7b7b7b;
        }
        input:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #7b7b7b;
        }
    </style>
</head>
<body style="padding-top:40px;background:#eee;background-size:cover;">
<div id="app">
    <div style="background:none; padding:50px 20px 0px 20px;" class="aui-form">
        <div style="padding-bottom:25px;" class="aui-input-row">
            <label class="aui-input-addon">输入当前密码</label>
            <input style="border:1px solid #7b7b7b;border-radius:2px;background:none;" type="password" class="aui-input" placeholder="输入当前密码" v-model="old_password"/>
        </div>
        <div style="padding-bottom:25px;" class="aui-input-row">
            <label class="aui-input-addon">输入您新密码</label>
            <input style="border:1px solid #7b7b7b;border-radius:2px;background:none;" type="password" class="aui-input" placeholder="输入新密码" v-model="new_password"/>
        </div>
        <div style="padding-bottom:25px;" class="aui-input-row">
            <label class="aui-input-addon">再确认新密码</label>
            <input style="border:1px solid #7b7b7b;border-radius:2px;background:none;" type="password" class="aui-input" placeholder="确认新密码" v-model="repassword"/>
        </div>
    </div>
    <div style="padding:0px 20px 0px 20px;" class="aui-btn-row">
        <div style="background:#d9d0d0;border:none;" class="aui-btn aui-btn-block aui-btn-danger" tapmode v-on:click="updatepassword()">确认修改</div>
    </div>
</div>

</body>
</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            old_password: '',
            new_password: '',
            repassword: '',
        },
        methods: {
            updatepassword: function () {
                if (vm.old_password == '') {
                    api.toast({
                        msg: '请输入当前密码',
                        duration: 2000,
                        location: 'bottom'
                    });
                    return
                }
                if (vm.new_password == '') {
                    api.toast({
                        msg: '请输入新密码',
                        duration: 2000,
                        location: 'bottom'
                    });
                    return
                }
                if (vm.new_password.length < 6) {
                    api.toast({
                        msg: '密码不能少于6位数',
                        duration: 2000,
                        location: 'bottom'
                    });
                    return
                }
                if (vm.new_password != vm.repassword) {
                    api.toast({
                        msg: '两次输入密码不一致',
                        duration: 2000,
                        location: 'bottom'
                    });
                    return
                }
                api.ajax({
                    url: updatePassword_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            token: $api.getStorage('token'),
                            old_password: vm.old_password,
                            new_password: vm.new_password,
                            repassword: vm.repassword
                        }
                    }
                }, function (ret, err) {
                    if (ret) {
                        api.toast({
                            msg: ret.msg,
                            duration: 2000,
                            location: 'bottom'
                        });
                        if(ret.status == 1){
                            setTimeout(function () {
                                api.closeWin({
                                    name: 'member_cg_password'
                                });
                            }, 500);
                        }
                        console.log(JSON.stringify(ret));
                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            }
        }
    });
    apiready = function () {

    };

</script>
<!--n616e7fc2279c126-->
<!--ha1c8cb029a67450-->
<!--n5af6a16f24f4514-->
<!--pdb544b14afc3387-->
<!--md13559685aaf666-->
<!--d5c3dfbf9ee8d820-->
<!--g38b7b7b41963262-->
<!--n92d2613b2a6d111-->
<!--k145a4dcf239689-->
<!--dd35bc5da20ca35-->
<!--e93544897a613429-->
<!--qgkmdnibfhmkgihkfiqmqfkcphoemobgjhch-->
<!--hepicnbjgekjjhokboinclgaoepaqdcjmiqj-->
