<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/aui-list-swipe.css" />
    <link rel="stylesheet" type="text/css" href="../../css/public.css" />
    <style>
        .aui-nav {
            font-size: 18px;
        }

        .aui-nav div {
            height: 55px;
        }

        .aui-nav .buy {
            line-height: 55px;
        }

        #main {
            text-align: center;
            color: #fff;
        }

        #checkAll {
            margin-top: 12px;
            color: #fff
        }

        .empty {
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -3rem;
            width: 100%;
            height: 6rem;
            text-align: center;
        }

        .empty i {
            font-size: 3rem;
            color: #82818F;
            padding-bottom: 0.5rem;
        }

        #app {
            min-height: 20rem;
        }

        aui-list-view .aui-img-object {
            width: 60px;
            height: 60px;
            !important;
        }

        .cousfont {
            font-size: 13px !important;
            padding-bottom: 5px !important;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <div class="aui-content">
            <div v-if="list.length > 0">
                <ul class="aui-list-view">
                    <li class="aui-list-view-cell aui-img aui-counter-list" v-for="(vo,index) in list">
                        <div class="aui-swipe-handle">
                            <input class="aui-radio aui-radio-danger" type="checkbox" v-model="vo.status" tapmode v-on:click="single_check(index)">
                            <img class="aui-img-object aui-pull-left" :src="vo.url" tapmode v-on:click="open_goods(vo.info_id)" v-if="vo.url">
                            <img class="aui-img-object aui-pull-left" src="../../image/default.png" tapmode v-on:click="open_goods(vo.info_id)" v-else>
                            <div class="aui-img-body">
                                <div class="aui-ellipsis-2 cousfont" tapmode v-on:click="open_goods(vo.info_id)">{{ vo.goods_name }}</div>
                                <div class="aui-counter-box">
                                    <div class="aui-pull-left aui-text-danger cousfont" tapmode v-on:click="open_goods(vo.info_id)">¥ {{ vo.price }}元</div>
                                    <div class="aui-counter aui-danger aui-pull-right">
                                        <div class="aui-counter-minus aui-disabled" tapmode v-on:click="cut_to_cart(index)"></div>
                                        <input class="aui-counter-input" type="number" v-model="vo.goods_sum" readonly="readonly">
                                        <div class="aui-counter-plus" tapmode v-on:click="add_to_cart(index)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="aui-swipe-right-btn aui-bg-danger" tapmode @click="delete_to_cart(index)">删除</div>
                    </li>
                </ul>
            </div>
        </div>
        <footer class="aui-nav" id="aui-footer" v-if="list.length > 0">
            <div class="aui-col-xs-4" tapmode v-on:click="all_checked()">
                <input class="aui-radio aui-radio-danger" id="checkAll" type="checkbox" v-model="all_checked_val">
                <label class="buy" for="checkAll">全选</label>
            </div>
            <div class="aui-col-xs-4 buy aui-text-center aui-text-danger">
                <strong>￥{{ total_price }}</strong>
            </div>
            <div class="aui-col-xs-4 buy aui-bg-danger" id="main" tapmode v-on:click="isLogin ? order_confirm() : check_login()">
                结算
            </div>
        </footer>
    </div>

</body>

</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script type="text/javascript" src="../../script/aui-list-swipe.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            total_price: 0,
            all_checked_val: true,
            list: [],
            isLogin: is_login()
        },
        methods: {
            init: function() {
                console.log(cart_list_url);
                if (is_login()) {
                    api.ajax({
                        url: cart_list_url,
                        method: 'post',
                        timeout: 30,
                        dataType: 'json',
                        returnAll: false,
                        data: {
                            values: {
                                token: $api.getStorage('token'),
                                deviceid: api.deviceId,
                            }
                        }
                    }, function(ret, err) {
                        if (ret) {
                            if (ret.status == 1) {
                                vm.list = ret.data.list;
                                vm.total_price = ret.data.total_price;
                                console.log(JSON.stringify(vm.list))
                                console.log(vm.total_price)
                            } else {
                                vm.list = [];
                            }
                        } else {
                            api.toast({
                                msg: err.msg,
                                duration: 2000,
                                location: 'bottom'
                            });
                            console.log(JSON.stringify(err));
                        }
                    });
                } else if (localStorage.getItem("carList")) {
                    console.log(vm.list)
                    vm.list = JSON.parse(localStorage.getItem("carList"))
                    vm.total_price = 0
                    for (var i = 0; i < vm.list.length; i++) {
                        vm.total_price += Number(vm.list[i].price) * Number(vm.list[i].goods_sum)
                    }
                }

            },
            check_login: function() {
                check_login()
            },
            //购物车加1
            add_to_cart: function(index) {
                var goods_id = vm.list[index].goods_id;
                var info_id = vm.list[index].info_id;
                var goods_sum = 1;
                vm.list[index].goods_sum += 1;
                vm.list[index].sum_price = Number(vm.list[index].price) * Number(vm.list[index].goods_sum);
                if (vm.list[index].status == 1) {
                    vm.total_price = Number(vm.total_price) + Number(vm.list[index].price);
                }
                add_to_cart(goods_id, info_id, goods_sum);
            },
            //购物车减1
            cut_to_cart: function(index) {
                var goods_id = vm.list[index].goods_id;
                var info_id = vm.list[index].info_id;
                var goods_sum = 1;
                vm.list[index].goods_sum -= 1;
                vm.list[index].sum_price = Number(vm.list[index].price) * Number(vm.list[index].goods_sum);
                if (vm.list[index].status == 1) {
                    vm.total_price = Number(vm.total_price) - Number(vm.list[index].price);
                }
                cutdown_to_cart(goods_id, info_id, goods_sum);
                if (vm.list[index].goods_sum == 0) {
                    vm.list.splice(index, 1); //删除节点
                }
            },
            //全选
            all_checked: function() {
                setTimeout(function() {
                    var temp_status = null;
                    if (vm.all_checked_val) {
                        if (!is_login()) {
                            vm.total_price = 0
                            for (var i = 0; i < vm.list.length; i++) {
                                vm.list[i].status = 1;
                                vm.total_price += Number(vm.list[i].price) * Number(vm.list[i].goods_sum)
                            }
                        } else if (is_login()) {
                            for (var i = 0; i < vm.list.length; i++) {
                                vm.total_price = Number(vm.total_price) + Number(vm.list[i].sum_price);
                            }
                        }
                        temp_status = 1;
                    } else {
                        for (var i = 0; i < vm.list.length; i++) {
                            vm.list[i].status = 0;
                        }
                        vm.total_price = 0;
                        temp_status = 0;
                    }

                    //更新数据库
                    api.ajax({
                        url: update_allcart_status_url,
                        method: 'post',
                        timeout: 30,
                        dataType: 'json',
                        returnAll: false,
                        data: {
                            values: {
                                token: $api.getStorage('token'),
                                deviceid: api.deviceId,
                                status: temp_status
                            }
                        }
                    }, function(ret, err) {
                        if (ret) {
                            console.log(JSON.stringify(ret));
                        } else {
                            //api.alert(JSON.stringify(err));
                            api.toast({
                                msg: '您当前的网络不太好，请重新试试!',
                                duration: 2000,
                                location: 'bottom'
                            });
                        }
                    });
                }, 200);


            },
            //单选
            single_check: function(index) {
                var temp_status = null;
                setTimeout(function() {
                    if (vm.list[index].status) {
                        vm.total_price = Number(vm.total_price) + Number(vm.list[index].sum_price);
                        temp_status = 1;
                    } else {
                        vm.total_price = Number(vm.total_price) - Number(vm.list[index].sum_price);
                        temp_status = 0;
                    }
                    vm.for_all_checked_val();

                    console.log(vm.list[index].status);
                    //更新数据库
                    api.ajax({
                        url: update_cart_status_url,
                        method: 'post',
                        timeout: 30,
                        dataType: 'json',
                        returnAll: false,
                        data: {
                            values: {
                                token: $api.getStorage('token'),
                                deviceid: api.deviceId,
                                goods_id: vm.list[index].goods_id,
                                status: temp_status
                            }
                        }
                    }, function(ret, err) {
                        if (ret) {
                            console.log(JSON.stringify(ret));
                        } else {
                            //api.alert(JSON.stringify(err));
                            api.toast({
                                msg: '您当前的网络不太好，请重新试试!',
                                duration: 2000,
                                location: 'bottom'
                            });
                        }
                    });
                }, 200);

            },
            for_all_checked_val: function() {

                for (var i = 0; i < vm.list.length; i++) {
                    if (!vm.list[i].status) {
                        vm.all_checked_val = false;
                        return false;
                    } else {
                        vm.all_checked_val = true;
                    }
                }

            },
            //打开商品详情
            open_goods: function(info_id) {
                api.openWin({
                    name: 'index_goods_detail',
                    url: 'widget://html/index/goods_detail.html',
                    pageParam: {
                        info_id: info_id
                    }
                });
            },
            order_confirm: function() {
                api.openWin({
                    name: 'cart_order_confirm',
                    url: 'widget://html/cart/order_confirm.html',
                });
            },
            delete_to_cart: function(index) {
                api.confirm({
                    title: '确认要删除？',
                    msg: vm.list[index].goods_name,
                    buttons: ['确定', '取消']
                }, function(ret, err) {
                    if (ret) {
                        if (ret.buttonIndex == 1) {
                            api.ajax({
                                url: delete_to_cart_url,
                                method: 'post',
                                timeout: 30,
                                dataType: 'json',
                                returnAll: false,
                                data: {
                                    values: {
                                        id: vm.list[index].id,
                                        token: $api.getStorage('token'),
                                        deviceid: api.deviceId,
                                    }
                                }
                            }, function(ret, err) {
                                if (ret) {
                                    if (ret.status == 1) {
                                        api.sendEvent({
                                            name: 'tatal_goods_sum' //更新全局购物车数量显示function
                                        });
                                        vm.list.splice(index, 1)
                                    } else {
                                        api.toast({
                                            msg: ret.msg,
                                            duration: 2000,
                                            location: 'bottom'
                                        });
                                    }
                                    console.log(JSON.stringify(ret));
                                } else {
                                    console.log(JSON.stringify(err));
                                }
                            });
                        }
                    } else {
                        alert(JSON.stringify(err));
                    }
                });
            }

        }
    });
    apiready = function() {
        api.setRefreshHeaderInfo({
            visible: true,
            loadingImg: 'widget://image/refresh.png',
            bgColor: '#f4f4f4',
            textColor: '#333333',
            textDown: '下拉刷新...',
            textUp: '松开刷新...',
            showTime: true
        }, function(ret, err) {
            vm.init();
            setInterval("api.refreshHeaderLoadDone()", '1000');
        });
        vm.init();
        //监听网络连接事件
        api.addEventListener({
            name: 'update_cart_list'
        }, function(ret, err) {
            vm.init();
        });
    };
</script>
<!--ma9efa254bc0c836-->
<!--jf044ed83bf80218-->
<!--g8c4ced160313665-->
<!--jabfeafe73836638-->
<!--p2f642d35097835-->
<!--ab57bd22dd915699-->
<!--d6622eafe549d367-->
<!--o8ab836838f6a567-->
<!--a8a91ca0a215e338-->
<!--ga5cf26477d3f286-->
<!--e072842453f72621-->
<!--qphnibqkhgpmeleqjjiljmqapbfmfblkfeeq-->
<!--qgggngajefpmkecgbehijghjmjhmdhqladpj-->
